header {
    background-color: white;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: scroll;
    background-image: url(achtergrond.jpg);
    background-size: cover;
    margin: 0;
}

.vissen {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}